---

---

<div class="flex gap-4 mt-4">
  <a href="hurley" class="w-3 h-3 rounded-full bg-secondary"
  ></a>
  <a
    href="shuttleworth"
    class="w-3 h-3 rounded-full bg-secondary"></a>
  <a href="glover" class="w-3 h-3 rounded-full bg-secondary"
  ></a>
  <a href="ansari" class="w-3 h-3 rounded-full bg-secondary"
  ></a>
</div>
