---
const links = ["moon", "mars", "europa", "titan"];
const { idParams } = Astro.props;
---

<nav>
  <ul class="flex gap-4">
    {
      links.map((link) => (
        <li>
          <a
            href={link}
            class:list={[
              "nav-destination",
              {
                "border-b-2 text-white ": idParams === link,
              },
            ]}
          >
            {link.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
